@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--sulphur_Point), var(--prompt);
}

[lang|="th"] {
  font-family: var(--prompt), sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #76d755 14%, #76d755 64%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #76d755 14%, #76d755 64%);
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #ffffff;
}

::selection {
  background: #171A1B;
  color: #ffffff;
  text-shadow: none;
}
.shadow-one {
  /* background: #F0F0F3; */
  box-shadow: 
    -10px -10px 30px #FFFFFF, 
    10px 10px 30px rgba(174, 174, 192, 0.4);
}

.shadow-two {
  /* background: #F0F0F3; */
  box-shadow: 
    -10px -10px 30px #FFFFFF, 
    10px 10px 30px rgba(174, 174, 192, 0.4),
    inset -10px -10px 10px rgba(174, 174, 192, 0.25),
    inset 10px 10px 10px #FFFFFF;
}

.shadow-three {
  /* background: #F0F0F3; */
  box-shadow: 
    -10px -10px 10px rgba(255, 255, 255, 0.7), 
    10px 10px 10px rgba(174, 174, 192, 0.2);
}
